.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 16%;
  height: 100%;
  background-color: white;
  z-index: 50;
  transition: transform 300ms ease-in-out;
  overflow-y: scroll;
}

.sidebar::-webkit-scrollbar {
  width: 6px;
}

.sidebar::-webkit-scrollbar-track {
  background-color: white;
}

.sidebar::-webkit-scrollbar-thumb {
  border-radius: 100vh !important;
  background-color: #dce7fc;
  outline: 1px solid rgba(0, 0, 0, 0.02);
  outline-offset: -1px;
  border-radius: 100%;
}

@media (min-width: 769px) {
  .sidebar {
    transform: translateX(0);
  }
}

@media (max-width: 768px) {
  .sidebar {
    width: 250px;
    transform: translateX(-100%);
  }

  .sidebar-show {
    transform: translateX(0);
  }
}
